/* Responsive break-points */
$mobile-xs-max-width: 374px;
$mobile-min-width: 375px;
$mobile-max-width: 767px;
$tablet-min-width: 768px;
$tablet-max-width: 992px;
$desktop-min-width: 769px;

/* Shadows */
$panel-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
